body {
	background-color:#fff;
	color:#000;
	font-size:18px;
	line-height:1.3333;
}

em {
	font-style:normal;
}

a {
	color:#009aff;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a.btn:hover {
	text-decoration:none;
}

body, h1, h2, h3, h4 {
	line-height:1.15;
	font-family:'quicksandbook', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

h1, h2, h3, h4 {
	margin:0;
	color:#7f8285;
	font-weight:normal;
}

h1 {
	font-size:3.1111em;
	line-height:1;
}

h1 em {
	color:#009aff;
}

h2 {
	font-size:1.8889em;
	line-height:1.15;
	margin-bottom:0.76em;
}

h3 {
	font-size:1.4444em;
	line-height:1.3;
	margin-bottom:1em;
	color:#009aff;
}

h4 {
	font-size:1em;
}

h4, p {
	margin-bottom:1.3333em;
}

ol, ul {
	padding:0;
	list-style:none;
}

ol li, ul li {
	margin-bottom:1.3333em;
}

.main {
	min-width:320px;
}

.title {
	margin-left:-0.05em;
	margin-right:-0.1em;
	margin-bottom:0.5em;
}

.lead {
	font-size:1.1em;
	line-height:1.5;
	margin-bottom:1em;
}

.lead:last-child {
	margin-bottom:0;
}

.nowrap {
	white-space:nowrap;
}

.section {
	padding-top:40px;
	padding-bottom:0;
}

.subsection + .subsection {
	padding-top:1.5em;
}

.section-header {
	padding-top:50px;
}

.section-header,
.section-hero,
.section-footer {
	text-align:center;
}

.section-dark {
	background:#1f2328;
	margin-top:40px;
	padding-top:40px;
	padding-bottom:40px;
	color:#fff;
}

.byline {
	margin-bottom:0;
}

.section-footer li:last-child,
.byline li {
	margin-bottom:0;
}

.byline a {
	color:inherit;
}

.section-hero {
	background-repeat:no-repeat;
	background-color:#222325;
	background-image:url(/assets/images/hero_xs.jpg);
	background-position:50% 100%;
	background-size:767px 500px;
	color:#fff;
	text-shadow:0 0 50px #000, 0 10px 30px #000, 1px 2px 0 #000;
	/*max-width:1440px;*/
	margin-left:auto;
	margin-right:auto;
	padding-bottom:260px;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
	   (min-device-pixel-ratio: 1.5) {
	.no-js .section-hero,
	.no-lowbandwidth .section-hero {
		background-image:url(/assets/images/hero_xs@2x.jpg);
	}
}

@media (-webkit-min-device-pixel-ratio: 2.5),
	   (min-device-pixel-ratio: 2.5) {
	.no-js .section-hero,
	.no-lowbandwidth .section-hero {
		background-image:url(/assets/images/hero_xs@3x.jpg);
	}
}

/* small */
@media (min-width:768px) {
	.sm-text-right {
		text-align:right;
	}

	.container {
		width:622px
	}

	.lead {
		font-size:1.4444em;
	}

	.title {
		margin-bottom:0.1em;
	}

	.section,
	.section-header,
	.section-dark {
		padding-top:86px;
	}

	.section-header,
	.section-hero,
	.section-footer {
		text-align:left;
	}

	.section-footer li {
		margin-bottom:0;
	}

	.section-dark {
		margin-top:86px;
		padding-bottom:86px;
	}

	.section-hero {
		background-color:#1f2328;
		background-image:url(/assets/images/hero_s.jpg);
		background-position:50% 100%;
		background-size:992px 462px;
		padding-bottom:200px;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width:768px),
	   (min-device-pixel-ratio: 1.5) and (min-width:768px) {
	.no-js .section-hero,
	.no-lowbandwidth .section-hero {
		background-image:url(/assets/images/hero_s@2x.jpg);
	}
}


/* medium */
@media (min-width:992px) {
	.section-hero {
		background-image:url(/assets/images/hero.jpg);
		background-position:50% 0;
		background-size:1440px 635px;
		padding-bottom:86px;
		min-height:516px;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width:992px),
	   (min-device-pixel-ratio: 1.5) and (min-width:992px) {
	.no-js .section-hero,
	.no-lowbandwidth .section-hero {
		background-image:url(/assets/images/hero@2x.jpg);
	}
}


/* large */
@media (min-width:1200px) {
	.section-hero {
		background-size:cover;
		background-position:50% 50%;
	}
}

